<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style type="text/css" media="screen">
            .slides_container {
                width:100%;
                height:100%;
            }
            .slides_container div {
                width:100%;
                height:100%;
                display:block;
            }
    </style>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/slides.min.jquery.js"></script>
	<script>
            $(function(){
               $('#slides').slides({
			    autoHeight: true,
				preload: true,
				preloadImage: 'images/loading.gif',
				play: 3000,
				pause: 2500,
				pagination: false,
				generatePagination: false,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
            });
        </script>
  </head>
  <body>
    <header></header>
    <div id="slides" class='carousel'>
		<div class="slides_container">
			<div>
				<img src="images/slide-1.jpg" style="width: 100%;max-height: 100%" alt="Slide 1">
			</div>
			<div>
				<img src="images/slide-2.jpg" style="width: 100%;max-height: 100%" alt="Slide 2">
			</div>
			<div>
				<img src="images/slide-3.jpg" style="width: 100%;max-height: 100%" alt="Slide 3">
			</div>
			<div>
				<img src="images/slide-4.jpg" style="width: 100%;max-height: 100%" alt="Slide 4">
			</div>
		</div>
		
	</div>
    <div class='menu'>
    	<div class='row'>
    		<div class='col'>
    			<!--<div class='icondiv'>
    				<div class='icon'></div>
    			</div>-->
    		</div>
    		<div class='col'></div>
    		<div class='col'></div>
    	</div>
    	<div class='row'>
    		<div class='col'></div>
    		<div class='col'></div>
    		<div class='col'></div>
    	</div>
    </div>
    <footer>
    	<div class='col'></div>
    	<div class='col'></div>
    	<div class='col'></div>
    	<div class='col'></div>
    </footer>
  </body>
</html>