<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='description' content=''>
    <meta name='author' content=''>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class='col'></div>
    </header>
    <div class='container'>
      <div class='page active'>
        <div class='carousel'>
          <div class='ad active'></div>
          <div class='ad next'></div>
          <div class='ad'></div>
          <div class='ad'></div>
          <div class='ad prev'></div>
        </div>
        <div class='menu'>
       	  <div class='row'>
            <div class='col'><div class='text'>专家背<span>景</span></div></div>
            <div class='col'><div class='text'>用药指<span>南</span></div></div>
            <div class='col'><div class='text'>就诊日<span>程</span></div></div>
          </div>
          <div class='row'>
            <div class='col'></div>
            <div class='col'></div>
            <div class='col'></div>
          </div>
        </div>
      </div>
      <div class='page'></div>
      <div class='page'></div>
    </div>
    <footer>
      <div class='col active'><div class='text'>首<span>页</span></div></div>
      <div class='col'><div class='text'>周<span>边</span></div></div>
      <div class='col'><div class='text'>导<span>航</span></div></div>
    </footer>
  </body>
  <script src='/javascripts/jquery.min.js'></script>
  <script>
    !function($) {
      $('footer>.col').bind('click',function(e) {
        var ele = $(this)
          , i = ele.index();

        if(!ele.hasClass('active')){
          $(this).addClass('active').siblings().removeClass('active');
          $('.page').eq(i).addClass('active').siblings().removeClass('active');
          e.preventDefault();
        }
      });
      setInterval(carousel,5000);
    }(window.jQuery);
    function carousel() {
      var active = $('.carousel').find('.active'),
          prev = active.prev().addClass('prev'),
          next = active.next().addClass('next');
      if(active.parents('.page').hasClass('active')) {
        if(!prev.length>0){ prev = active.siblings().last(); };
        if(!next.length>0){ next = active.siblings().first(); };

        prev.removeClass('prev');
        active.removeClass('active').addClass('prev');
        next.removeClass('next').addClass('active');
        if(!next.next().length>0){ active.siblings().first().addClass('next'); } else { next.next().addClass('next'); };
      }
    }
  </script>
</html>